$color1 : black;

$font1: "Sniglet",
cursive;
$font2: "Montserrat",
sans-serif;

.features {
    background-color: #efefef;
    color: $color1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    h2,
    h4 {
        color: $color1;
        padding: 15px;
        font-size: 2.5em;
        font-family: $font1;
    }

    .screenshot{
        width: 80%;
    }
}