@import url("https://fonts.googleapis.com/css?family=Montserrat|Sniglet");
a {
  text-decoration: none;
  color: black;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
}

body {
  background: rgba(44, 44, 44, 0.933);
}

a {
  padding: 20px 10px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
  color: whitesmoke;
}

nav {
  height: 60px;
  background-color: rgba(44, 44, 44, 0.933);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
}

nav img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 60px;
  padding: 10px;
}

nav div {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav div #new {
  background-color: #9d37ff;
  font-weight: bold;
  color: white;
}

nav div #new:hover {
  background-color: #6a00ce;
}

nav div #pro {
  background-color: #cc7c03;
  font-weight: bold;
  color: black;
  font-family: "Sniglet", cursive;
}

nav div #pro:hover {
  background-color: #ffaa2b;
}

section {
  height: calc(100vh);
}

.boards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.boards .boardOverview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 400px;
  padding: 20px;
  margin: 10px;
  background-color: #3eb77f;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.boards .boardOverview:hover {
  background-color: #36835f;
}

.boards .boardOverview a {
  background-color: #9d37ff;
  padding: 10px;
  font-weight: bold;
}

.boards .boardOverview a:hover {
  background-color: #6a00ce;
}

.boards .boardOverview p {
  font-size: 0.8em;
}

.boardDetail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  height: 100%;
  padding: 50px;
}

.boardDetail #detail {
  margin: 10px;
  background-color: #36835f;
  height: 100%;
  padding: 80px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.boardDetail #detail .subtask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boardDetail #detail .subtask div {
  margin: 5px;
}

.boardDetail #chat {
  margin: 10px;
  margin-top: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boardDetail #chat input {
  background: transparent;
  border: 1px solid white;
  height: 4em;
  border-radius: 5px;
  margin-bottom: 50px;
  padding-left: 5px;
}

.boardDetail #chat .chatBubble {
  padding: 20px 10px;
  margin: 10px 0;
  background-color: #6a00ce;
  border-radius: 10px;
}

.boardDetail #chat .chatBubble:nth-child(odd) {
  background-color: #cc7c03;
  text-align: end;
}

.boardDetail #chat .chatBubble .from {
  font-size: 0.6em;
  font-weight: bold;
}

@media (max-width: 900px) {
  .boards {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .boards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 450px) {
  .boards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */